---
splunk_instances:
  default:
    host: 172.16
    port: 8089
    scheme: https
    verify: false
    hec_endpoint: /services/collector
    hec_port: 8088
    splunkToken: "examplebearTokenfromSplunk"
  prod:
    host: 127.0.0.1
    port: 8089
    username: admin
    password: admin
    scheme: https
    verify: true
    hec_endpoint: /services/collector
    hec_port: 8088
